
/*Estilos pagina producto*/

.container{
	margin-top: 10%;
} 
.galeria{
	width: 100%;

}
.carousel{
	width: 80%;
}

.til{
	max-width: inherit;
    font-family: 'Roboto Slab', serif;
}

.btnimg {
	list-style-type: none;
	text-align: center;
	height: 100%;
}

.specs-container{
	margin-top: 5%;
	columns: 2;
	text-align: center;
}

.specs-container h2 {
	margin-top: 5%;
	font-weight: 600;
    font-size: 24px;
    margin-bottom: 32px;
    line-height: 1;
    font-family: 'Roboto Slab', serif;
}
.specs-list{
	list-style: none;
	font-family: 'Montserrat', sans-serif;
}

.fave {
  width: 70px;
  height: 50px;
  background: url(img/fave.png) no-repeat;
  background-position: 0 0;
}

.fave:hover {
  background-position: -3519px 0;
  transition: background 1s steps(55);
}

.star:hover {
	cursor: pointer;
	color: yellow;
}

.detail p{
	margin: 0px;
	padding: 0px;
}
.precio h2{
	font-family: 'Anonymous Pro', monospace;
}

.tarjetas{
	height: auto;
}

/*Estilos pagina producto*/

/*---------------Style Footer ---------------*/

	.footerour {
		margin-top: 5%;
		background-image: url(../img/footerbottom1600.png);
		background-size: cover;
		width: 100%;
	}

	.footer-copyright {
		color:white;
		font-family: 'Noto Sans HK', sans-serif;
		font-size: 12px;
	}

	.linksconfig{
		margin-bottom: 0%;	
	}

	.linkfooter {
		font-family: 'Noto Sans HK', sans-serif;
		font-weight: 400;
		font-size: 14px;
		color:white!important;
		text-decoration: none!important;
	}

	.codeqr {
		width: 80px;
	}
/*---------------Style Footer ---------------*/
.tachar{
	text-decoration: line-through;
	color: red;
}
