body{
	background-image: url(../img/fondofinal.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.contenido {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}