/*---------------Style Header---------------*/
	.buscador{
		display: none;
	}

	.btnBuscar:hover > .buscador{
		display: inline-block;
	}
	.logo {
	    width: 90px;
	}

	/*---------------Style Carousel with publicity---------------*/
	.carrousel{
		margin-top: 10%;
	}

	.publicity img {
	    width: 100%;
	}

/*---------------Style Cards---------------*/
	.text-right {
		font-family: 'Noto Sans HK', sans-serif;
	}

	.price {
		font-family: 'Noto Sans HK', sans-serif;
		font-size: 25px;
	}

	.old-price {
		font-family: 'Noto Sans HK', sans-serif;
		font-size: 20px;
		text-decoration: line-through;
		color: red;
	}

	.descuento{
		position: absolute;
		top: -23px;
	    right: -23px;
	}

	@media (min-width: 576px){
	.image-article {
		width: 200px;
		}
	}

	@media (max-width: 576px){
	.image-article {
		width: 350px;
		}
	}

	.card {
		margin-right: 5px!important;
		margin-left: 5px!important;
	}

	.card-title {
		font-family: 'Noto Sans HK', sans-serif;
		font-variant: bold;
		overflow: hidden;
		 white-space: nowrap ;
		 text-overflow: ellipsis;
	}

	.card-text {
		font-family: 'Noto Sans HK', sans-serif;
		font-variant: normal;
		font-size: 14px;
	}

	@media (min-width: 1200px){
		.cartaProducto .card .card-body .botones i{
			display: none;
		}
	}

	@media (max-width: 1199px){
		.cartaProducto .card .card-body .botones span{
			display: none;
		}
	}

	.cartaProducto{
	  transition: transform .2s; /* Animation */
	}

 	.cartaProducto:hover {
 		z-index: 4;
  		transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */

	}

	.linkProducto {
		color: #5D6D7E;
	}

	.linkProducto:hover{
		text-decoration: none;
		color: #0974BB;
	}


/*---------------Style Cards---------------*/


/*---------------Style Category---------------*/

	.collapsecel {
		background-image: url(../img/footer.jpg);
		border-color:none;
	}

	.collapsenote {
		background-image: url(../img/footer.jpg);
		border-color: none;
	}

	.title-collapse {
		font-family: 'Noto Sans HK', sans-serif;
		font-variant: 500;
		font-size: 22px;
		color:white;
		text-decoration: none!important;
	}

	.botonvermas{
		position: relative;
	    padding: .5rem .75rem;
	    margin-left: -1px;
	    line-height: 1.25;
	    color: #007bff;
	    background-color: #fff;
	    border: 1px solid #dee2e6;
	    border-top-right-radius: .25rem;
	    border-bottom-right-radius: .25rem;
	}

/*---------------Style Category---------------*/

.anunciopadre {
	position: relative;
}

.anuncio {
	z-index: 1;
	position: absolute;
	bottom: 0;
	margin-left: 600%;
}


/*---------------Style Footer ---------------*/

	.footerour {
		margin-top: 5%;
		background-image: url(../img/footerbottom1600.png);
		background-size: cover;
		width: 100%;
	}

	.footer-copyright {
		color:white;
		font-family: 'Noto Sans HK', sans-serif;
		font-size: 12px;
	}

	.linksconfig{
		margin-bottom: 0%;	
	}

	.linkfooter {
		font-family: 'Noto Sans HK', sans-serif;
		font-weight: 400;
		font-size: 14px;
		color:white!important;
		text-decoration: none!important;
	}

	.codeqr {
		width: 80px;
	}
/*---------------Style Footer ---------------*/


/*Estilo de Pagina de datos de envio */

@media (min-width: 350px){
	.datos{
		margin-top: 30%;
	}
}

@media (min-width: 701px){
	.datos{
		margin-top: 18%;
	}
}

@media (min-width: 1000px){
	.datos{
		margin-top: 10%;
	}
}


.code{
	width: 100%;
}
.cp{
	width: 50%;
}

.suc{
	width: 50%;
}

/*Pagina de datos de envio */

/*Pagina datos de tarjeta*/
.datosPago{
	margin-top: 10%;
	margin-right: 15%;
	margin-left: 15%;
	width: 75%;
}

@media (max-width: 768px){
	.resumen_compra{
		margin-top: 7%;
	}

	.fecha_cod{
		display: flex;
		flex-direction: column;
	}
}

@media (max-width: 576px){
	.datosPago{
		margin-top: 50%;
	}
}

@media (max-width: 992px){
	.datosPago{
		margin-top: 18%;
	}
}

@media (min-width: 992px){
	.datosPago{
		margin-top: 10%;
	}
}


@media (min-width: 769px){
	.fecha_cod{
		display: flex;
		flex-direction: row;
	}

	.cod_seguridad{
		margin-left: 2%;
		width: 50%;
	}

	.fecha_expiracion{
		width: 50%;
	}
}

hr{
	height: 1px;
  	background-color: #B2BABB;
}

/*Pagina datos de tarjeta*/

/*Pagina de todos los productos*/

@media (max-width: 1019px){
	.botones span{
		display: none;		
	}
}

.titulo_card{
	font-family: 'Noto Sans HK', sans-serif;
	color: black;
}

.cont{
	font-family: 'Noto Sans HK', sans-serif;
}

/*Pagina de todos los productos*/

