

@media (min-width: 0px) and (max-width: 767px){
	.escritorio, .tablet{
	display: none;
	}
	.celular{
		display: flex;
	}
}

@media (min-width: 768px) and (max-width: 990px){
	.escritorio, .celular{
	display: none;
	}
	.tablet{
		display: flex;
	}
}


@media (min-width: 991px) {
	.tablet, .celular{
	display: none;
	}
	.escritorio{
		display: flex;
	}
}


.cartas1 i{
	display: none;
}

.buscador{
	display: none;
}

.btnBuscar:hover > .buscador{
	display: inline-block;
}

.carrousel{
	margin-top: 7%;
}

.publicity img {
    width: 100%;
}

.logo {
    width: 90px;
}

modal-dialog-centered 

.text-right {
	font-family: 'Noto Sans HK', sans-serif;
}

.price {
	font-family: 'Noto Sans HK', sans-serif;
	font-size: 25px;
}

.old-price {
	font-family: 'Noto Sans HK', sans-serif;
	font-size: 20px;
	text-decoration: line-through;
	color: red;
}

.descuento{
	position: absolute;
	top: -23px;
    right: -23px;
}

@media (min-width: 576px){
.image-article {
	width: 200px;
	}
}

@media (max-width: 576px){
.image-article {
	width: 350px;
	}
}

.card {
	margin-right: 5px!important;
	margin-left: 5px!important;
}

.card-title {
	font-family: 'Noto Sans HK', sans-serif;
	font-variant: bold;
}

.card-text {
	font-family: 'Noto Sans HK', sans-serif;
	font-variant: normal;
	font-size: 14px;
}

.collapsecel {
	background-image: url(../img/footer.jpg);
	border-color:none;
}

.collapsenote {
	background-image: url(../img/footer.jpg);
	border-color: none;
}

.botonvermas{
	position: relative;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.title-collapse {
	font-family: 'Noto Sans HK', sans-serif;
	font-variant: 500;
	font-size: 22px;
	color:white;
	text-decoration: none!important;
}

.anunciopadre {
	position: relative;
}

.anuncio {
	z-index: 1;
	position: absolute;
	bottom: 0;
	margin-left: 600%;
}

.footerour {
	margin-top: 5%;
	background-image: url(../img/footerbottom1600.png);
	width: 100%;
}

.footer-copyright {
	color:white;
	font-family: 'Noto Sans HK', sans-serif;
	font-size: 12px;
}

.linksconfig{
	margin-bottom: 0%;	
}

.linkfooter {
	font-family: 'Noto Sans HK', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color:white!important;
	text-decoration: none!important;
}

.codeqr {
	width: 80px;
}

/*Pagina de datos de envio */

@media (min-width: 350px){
	.datos{
		margin-top: 30%;
	}
}

@media (min-width: 701px){
	.datos{
		margin-top: 18%;
	}
}

@media (min-width: 1000px){
	.datos{
		margin-top: 10%;
	}
}


.code{
	width: 100%;
}
.cp{
	width: 50%;
}

.suc{
	width: 50%;
}

/*Pagina de datos de envio */

/*Pagina datos de tarjeta*/
.datosPago{
	margin-top: 10%;
	margin-right: 15%;
	margin-left: 15%;
	width: 75%;
}

@media (max-width: 768px){
	.resumen_compra{
		margin-top: 7%;
	}

	.fecha_cod{
		display: flex;
		flex-direction: column;
	}
}

@media (max-width: 576px){
	.datosPago{
		margin-top: 50%;
	}
}

@media (max-width: 992px){
	.datosPago{
		margin-top: 18%;
	}
}

@media (min-width: 992px){
	.datosPago{
		margin-top: 10%;
	}
}


@media (min-width: 769px){
	.fecha_cod{
		display: flex;
		flex-direction: row;
	}

	.cod_seguridad{
		margin-left: 2%;
		width: 50%;
	}

	.fecha_expiracion{
		width: 50%;
	}
}

hr{
	height: 1px;
  	background-color: #B2BABB;
}

/*Pagina datos de tarjeta*/

/*Pagina de todos los productos*/

@media (max-width: 1019px){
	.botones span{
		display: none;		
	}
}

.titulo_card{
	font-family: 'Noto Sans HK', sans-serif;
	color: black;
}

.cont{
	font-family: 'Noto Sans HK', sans-serif;
}

/*Pagina de todos los productos*/

