.buscador{
	display: none;
}

.botones:hover > .buscador{
	display: inline-block;
}

.barrar{
	margin-top: 10%;
}

/*---------------Style Footer ---------------*/

	.footerour {
		margin-top: 5%;
		background-image: url(../img/footerbottom1600.png);
		background-size: cover;
		width: 100%;
	}

	.footer-copyright {
		color:white;
		font-family: 'Noto Sans HK', sans-serif;
		font-size: 12px;
	}

	.linksconfig{
		margin-bottom: 0%;	
	}

	.linkfooter {
		font-family: 'Noto Sans HK', sans-serif;
		font-weight: 400;
		font-size: 14px;
		color:white!important;
		text-decoration: none!important;
	}

	.codeqr {
		width: 80px;
	}
/*---------------Style Footer ---------------*/

.logo {
    width: 90px;
}